.br-logo
{
    background-color: yellow; 
     width: 40;
}

.br-sideleft-menu{
    background-color: white;
   
}

.br-sideleft{
    background-color: white;
    width: 40;
}

.br-header{
    background-color: yellow; 
}
