.card 
{
  border-style: dashed; 
  border-color: black;
}

#labelforme{
  align-items: center;
  justify-content: center;
}

.icon {
  display:flex ; 
  color: aqua;
  align-items: center;
  justify-content: center;
}
.text{
  display:flex ; 
  align-items: center;
  justify-content: center;
}

#file1{
  opacity:0;

}