
<!-- ########## START: RIGHT PANEL ########## -->
<app-navbar></app-navbar>


<div class="br-mainpanel">
  <div class="br-pageheader">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
      <a class="breadcrumb-item" href="index.html">Bracket</a>
      <a class="breadcrumb-item" href="#">Forms</a>
      <span class="breadcrumb-item active">Form Layouts</span>
    </nav>
  </div><!-- br-pageheader -->
  <div class="br-pagetitle">
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <h1 class="br-section-label">Create Program <br/><br/>
       Overview
    </h1>
    
   

      <div class="row mg-b-25">
       
       
        <div class="col-lg-12">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">Program Title <span class="tx-danger">*</span></label>
            <input class="form-control" type="text" name="address" value="Market St. San Francisco" placeholder="Enter address">
          </div>
        </div><!-- col-8 -->
        <div class="col-lg-12">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">Program Language <span class="tx-danger">*</span></label>
            <select class="form-control select2" data-placeholder="English">
              <option label="Choose one"></option>
              <option value="Firefox">Firefox</option>
              <option value="Chrome">Chrome</option>
              <option value="Safari">Safari</option>
              <option value="Opera">Opera</option>
              <option value="Internet Explorer">Internet Explorer</option>
            </select>
          </div>
        </div><!-- col-4 -->
        <label class="form-control-label">Program Level <span class="tx-danger">*</span></label>
        <div class="col-lg-3">
          <label class="rdiobox">
            <input name="rdio" type="radio" >
            <span>Beginner</span>
          </label>
        </div><!-- col-3 -->
        <div class="col-lg-3 mg-t-20 mg-lg-t-0">
          <label class="rdiobox">
            <input name="rdio" type="radio" >
            <span>Itermediate</span>
          </label>
        </div><!-- col-3 -->
        <div class="col-lg-3 mg-t-20 mg-lg-t-0">
          <label class="rdiobox">
            <input name="rdio" type="radio">
            <span>Advanced</span>
          </label>
        </div><!-- col-3 -->

        <label class="form-control-label">Program Type <span class="tx-danger">*</span></label>
        <div class="col-lg-3">
          <label class="rdiobox">
            <input name="rdio" type="radio">
            <span>Foundation</span>
          </label>
        </div><!-- col-3 -->
        <div class="col-lg-3 mg-t-20 mg-lg-t-0">
          <label class="rdiobox">
            <input name="rdio" type="radio" >
            <span>Specialization</span>
          </label>
        </div><!-- col-3 -->
        
      </div><!-- row -->

    <h6 class="br-section-label">Details</h6>
    <p class="br-section-text">Program Description</p>
    <div class="row mg-t-20">
      <div class="col-lg-12">
        <textarea rows="3" class="form-control" placeholder="Textarea"></textarea>
      </div><!-- col -->
    </div><!-- row -->
    <p class="br-section-text">Learning Objectives</p>
    <div class="row mg-t-20">
      <div class="col-lg-12">
        <textarea rows="3" class="form-control" placeholder="Textarea"></textarea>
      </div><!-- col -->
    </div><br/><!-- row -->

    <div class="row mg-b-25">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Duration (weeks) <span class="tx-danger"></span></label>
          <input class="form-control" type="number" name="firstname" value="John Paul" placeholder="1">
        </div>
      </div><!-- col-4 -->
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Hours per week <span class="tx-danger"></span></label>
          <input class="form-control" type="number" name="lastname" value="McDoe" placeholder="8">
        </div>
      </div><!-- col-4 -->
    </div>

    <div class="row mg-b-25">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="form-control-label">Prerequisite <span class="tx-danger">*</span></label>
          <input class="form-control" type="number" name="firstname" value="John Paul" placeholder="Ex: Certificate of AnguarJS">
        </div>
      </div><!-- col-4 -->
    </div>

     <div class="row mg-b-25">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Type of Certification <span class="tx-danger">*</span></label>
          <input class="form-control" type="number" name="firstname" value="John Paul" placeholder="Enter firstname">
        </div>
      </div><!-- col-4 -->
      <div class="col-lg-6">
        <div class="form-group">
          <label class="form-control-label">Start Date <span class="tx-danger">*</span></label>
          <input class="form-control" type="date" name="lastname" value="McDoe" placeholder="Enter lastname">
        </div>
      </div><!-- col-4 -->
      
    </div>


    <h6 class="br-section-label">Details</h6>
    <p class="br-section-text">Program Description</p>
    <div class="row mg-t-20">
      <div class="col-xl-6">
        <div class="alert alert-warning alert-solid pd-20" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="d-sm-flex align-items-center justify-content-start">
            <i class="icon ion-ios-cloud-upload-outline lh-0 tx-52"></i>
            <div class="mg-sm-l-15 mg-t-15 mg-sm-t-0">
              <h5 class="mg-b-2 pd-t-2">Upload completed</h5>
              <p class="mg-b-0 tx-xs op-8"><strong class="tx-medium">Image1.png</strong>  in Documents/Images/</p>
            </div>
          </div><!-- d-flex -->
        </div><!-- alert -->
      </div><!-- col-xl-6 -->
      <div class="col-xl-6">
        <div class="alert alert-warning alert-solid pd-20" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="d-sm-flex align-items-center justify-content-start">
            <i class="icon ion-ios-cloud-upload-outline lh-0 tx-52"></i>
            <div class="mg-sm-l-15 mg-t-15 mg-sm-t-0">
              <h5 class="mg-b-2 pd-t-2">Upload completed</h5>
              <p class="mg-b-0 tx-xs op-8"><strong class="tx-medium">Image1.png</strong>  in Documents/Images/</p>
            </div>
          </div><!-- d-flex -->
        </div><!-- alert -->
      </div><!-- col-xl-6 -->
    </div><br/><!-- row -->

    <div class="row">

      <div class="col-sm-6 col-md-12 mg-t-20 mg-sm-t-0">
        <div class="btn-demo">
          
          <button class="btn btn-outline-secondary active btn-block mg-b-10">CREATE PROGRAM</button>
         
        </div><!-- btn-demo -->
      </div><!-- col-sm-3 -->
    </div>

  </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
</div>

